{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
               <!-- creating a for loop of list of posts that will be passed in from our view  -->
               {% for post in post_list %}
               <!-- want out posts to disply in rows of three, then after 6 posts we will paginate -->
               <!-- we will use built in loop counter to close existing row div, & add a new one after 6 posts have been displayed -->
               {%if forloop.counter|divisible:3 %}
            </div>
            <div class="row">
               {% endif %} 
               {% endfor %}
            </div>
        </div>
    </div>

</div>

{%endblock%}